.main {
    text-align: center;
}

.title {
    color: midnightblue;
    text-decoration: underline;
}

.button {
    background-color:  #49439b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }