

#title {
    color: midnightblue;
    text-decoration: underline;
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #heroes {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #heroes td, #heroes th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #heroes tr:nth-child(even){background-color: #f2f2f2;}
  
  #heroes tr:hover {background-color: rgb(202, 200, 200);}
  
  #heroes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #49439b;
    color: white;
  }