#title {
    color: midnightblue;
    text-decoration: underline;
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #names {
    color: midnightblue;
    text-align: center;
    font-family: arial, sans-serif;
  }
  